@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}


.shadow-navbar{
    background: #FFF;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
}

.bg-graded{
    background: linear-gradient(50deg, rgba(0, 0, 0, 0.70) 0%, rgba(0, 0, 0, 0.00) 100%);
}

.title-section{
    color: #161615;
    font-family: SF Pro Display, serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.paragraph{
    color: #575756;
    font-family: SF Pro Display, serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
}

.radius{
    border-radius: 24px;
}

.card-title{
    color: #161615;
    font-family: SF Pro Display, serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.card-activity{
    justify-content: center;
}

.card-grid-4{
    display: grid;
    grid-template-columns: repeat(auto-fit, 358px);
    gap: 12px;
}

.number{
    color: #000;
    font-family: SF Pro Display, serif;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    padding-bottom: 20px;
}
