@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}

@layer base {
    h1, h2, h3, h4, h5, h6 {
        color: #161615;
        font-family: SF Pro Display, serif;
    }
}

@layer components {
    .shadow-navbar {
        background: #FFF;
        box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.10);
    }

    .bg-graded {
        background: rgba(0, 0, 0, 0.55);
    }

    .bg-dark-overlay {
        background: rgba(0, 0, 0, 0.55);
    }

    .title-section {
        color: #161615;
        font-family: SF Pro Display, serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .paragraph {
        color: #575756;
        font-family: SF Pro Display, serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
    }

    .radius {
        border-radius: 24px;
    }

    .card-title {
        color: #161615;
        font-family: SF Pro Display, serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .card-activity {
        justify-content: center;
    }

    .number {
        color: #000;
        font-family: SF Pro Display, serif;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }
}
